@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
}

h2 {
  text-decoration: underline;
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
}


body {
  margin: 0;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  overflow-x: hidden;
  max-height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media (min-width: 580px) {
  body {
    max-height: 1122px;
    height: 1122px;
  }
}

a{
  color: #2d2e91;
}

.linkSection{
    img{
      display: inline;
      margin-right: 4px;
      transform: translateY(-2px);
    }
}

#tel{
  transform: rotate(90deg)  translateY(0px) translateX(-2px); 
}



#languages,#studies,#hobbies{
  td{
    border-block: #2d2e91 solid 1px;
    padding-block: 10px;
    padding-inline: 5px;
    text-align: center;
  }
  margin-top: 5px;
}

td{
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}


@keyframes loadBar{

  0%{
    width: 0%;
  }

  30%{
    width: 0%;
  }

  100%{
    width: 100%;
  }
  
}

.skillBarAnimation{
  animation: loadBar 4000ms;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

strong,b {
  font-weight: 600;
}